<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    <div id="app">
         <!-- EXERCÍCIO 1: Use ligação de dados bidirecional para atualizar o valor de uma "senha"
        propriedade de dados -->
        <input type="password" placeholder="Nome" v-model="password">
        
        <!-- EXERCÍCIO 2: Mostre o parágrafo correto dependendo do tamanho do
        a senha digitada. -->
        <p v-if="password.length > 8">Incrível! Sua senha tem mais de 8 caracteres.</p>
        <p v-else-if="password.length > 0">Insira uma senha mais longa</p>
        <p v-else>Por favor insira uma senha.</p>
        
        <!-- EXERCÍCIO 3: Exiba as categorias como uma lista ordenada com cada
        subcategorias da categoria como uma lista não ordenada aninhada. -->
        <ol>
            <li v-for="category in categories">
                {{category.name}}
                <ul>
                    <li v-for="sub in category.sub">{{sub}}</li>
                </ul>
            </li>
        </ol>
    </div>
    <script src="vue.js"></script>
    <script>
        new Vue({
            el:'#app',
            data: {
                password: '',
                categories: [
                    { name: 'JavaScript', sub: ['Vue.js', 'React', 'Angular2'] },
                    { name: 'Databases', sub: ['MySQL', 'PostgreSQL', 'MariaDB'] },
                    { name: 'Operating Systems', sub: ['macOS', 'Linux', 'Windows'] }
                ]
            }
        });       
    </script>
</body>
</html>